# =========================
# Terraform
# =========================

# Terraform working directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*
*.tfstate.backup

# Terraform plan files
*.tfplan
*.tfplan.*
plan.out

# Crash logs
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform CLI config
.terraformrc
terraform.rc

# Keep lock file in git
# Do NOT ignore .terraform.lock.hcl


# =========================
# Sensitive variable files
# =========================

# Ignore only local/secret tfvars
*.auto.tfvars
*.auto.tfvars.json
*.local.tfvars
*.local.tfvars.json
*.secret.tfvars
*.secret.tfvars.json
secrets.tfvars
secrets.tfvars.json

# If your terraform.tfvars contains secrets, uncomment these lines
# **/terraform.tfvars
# **/terraform.tfvars.json


# =========================
# Env files
# =========================
.env
.env.*
!.env.example


# =========================
# Editor / IDE
# =========================
.vscode/
.idea/
*.swp
*.swo


# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

.kiro/**